:root {
  --fontRegular: 14px;
  --radius: 0.25rem;
  --mainPadding: 3rem;
  --btn-padding: 0.5rem;
  --mainColor: #ab9c9c;
  --mainColoDark: #948080;
  --secondaryColor: #818181;
  --success: #69da6b;
  --incomplete: #d11606;
  --editorFontSize: 16px;
  --editorHeight: 33.5vh;
  --gridGap: 1.5rem;

  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.App {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: var(--btn-padding);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fontRegular);
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 10vh 30vh 40vh;
  column-gap: var(--gridGap);
  row-gap: var(--gridGap);
  grid-template-areas:
    "header ."
    "instructions html_editor"
    "emmet_editor expected_editor";
  justify-content: center;
  align-content: center;
  background: linear-gradient(to right, var(--mainColor) 50%, #a3ab9c 50%);
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: header;
}

.header_h1 {
  font-size: 2rem;
  font-weight: 800;
  font-family: "Fredoka One", cursive;
}
.editor,
.instructions {
  /* border: 1px solid black; */
  border-radius: var(--radius);
  grid-area: instructions;
  overflow: hidden;
}
.editor_title {
  background-color: #262729;
  color: white;
  align-self: flex-start;
  padding: var(--btn-padding);
  width: 100%;
  margin: 0;
  border-radius: var(--radius) var(--radius) 0 0;
}
.editor__emmet {
  grid-area: emmet_editor;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.editor__result-html {
  grid-area: html_editor;
}
.editor__expected-html {
  grid-area: expected_editor;
}

.react-codemirror2 {
  width: 100%;
  font-size: var(--editorFontSize);
}
.CodeMirror {
  /* border-radius: var(--radius); */
  /* height: var(--editorHeight); */
}
div.CodeMirror-scroll > div.CodeMirror-gutters {
  background-color: var(--secondaryColor);
}
.CodeMirror-code > div > div > div {
  color: white;
}
.btn-next {
  position: absolute;
  right: 2vw;
  bottom: 2vw;
  width: fit-content;
  align-self: flex-end;
  padding: var(--btn-padding) calc(var(--btn-padding) * 2);
  color: #fff;
  /* opacity: 0.5; */
  font-size: 150%;
  font-family: inherit;
  border: 0;
  border-radius: var(--radius);
}

.btn-next.disabled {
  background-color: var(--incomplete);
}
.btn-next.correct {
  background-color: var(--success);
  /* animation: beat 0.7s infinite alternate; */
  animation: pulse 2s infinite; /* referring directly to the animation's @keyframe declaration */
}

.editor__emmet .btn-next.disabled:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* animations */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes beat {
  to {
    transform: scale(1.2);
  }
}
